/* Commonly used vars */
:root {
  --dragonColorCode: #e25822;
  --goldColorCode: #fbbd47;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/castleBackground.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;  
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nowrap {
  white-space: nowrap;
}

/* Game Name Baner */

.game-name { 
  background: -webkit-linear-gradient(var(--goldColorCode), var(--dragonColorCode));
}

/* Popover */

.ant-popover {
  background-color: var(--dragonColorCode) !important; 
  height: 550px !important;
}

.ant-timeline-item-content {
  color: var(--goldColorCode) !important;
}

.ant-popover-title {
  background-color: var(--dragonColorCode) !important; 
  text-align: center !important;
  color: var(--goldColorCode) !important;
  font-size: 15px !important;
}

.ant-popover-inner-content {
  background-color: var(--dragonColorCode) !important; 
  text-align: center !important;
  color: var(--goldColorCode) !important;
  font-size: 15px !important;
}

.ant-popover-arrow-content {
  background-color: var(--dragonColorCode) !important; 
}

.ant-popover {
  background-color: transparent !important;
}

.ant-popover-message > .anticon {
  right: 90px !important;
}

.ant-popover-message-title {
  color: var(--goldColorCode) !important;
}

.ant-popover-buttons button {
  border: 1px solid;
}

.ant-popover-buttons button:hover {
  border: 1px solid var(--goldColorCode);
}

/* Modal */

.ant-modal-header {
  background-color: var(--goldColorCode) !important;
}

.ant-modal-title {
  color: var(--dragonColorCode) !important;
}

.ant-modal-body {
  background-color: var(--dragonColorCode) !important;
}

.ant-modal-footer { 
  background-color: var(--goldColorCode) !important;
}

.ant-btn {
  background-color: var(--dragonColorCode) !important;
  color: #fff !important; 
}

.ant-modal-centered {
  border: 5px solid var(--goldColorCode) !important;
}

/* Drawer */

.ant-drawer-header {
  background-color: var(--dragonColorCode) !important; 
  text-align: center !important;
  color: var(--goldColorCode) !important;
  font-size: 15px !important;
}

.ant-drawer-title {
  color: var(--goldColorCode) !important;
  font-size: 28px !important; 
  font-weight: 400 !important;

  font-weight: bold !important;
  font-family: 'Architects Daughter', cursive !important;
  
  margin-bottom: 5px !important; 
  position: relative !important;
  z-index: 10 !important;
  padding: 5px !important;    
}

.ant-drawer-body {
  background-color: var(--goldColorCode) !important; 
  text-align: center !important;
  color: var(--dragonColorCode) !important;
  font-size: 15px !important;
  border-radius: 5px !important;
}

.ant-drawer-close {
  top: 5px !important;
  right: -5px !important;
}

/* Divider */

.divider {
  overflow: visible; 
  height: 30px;
  border-style: solid;
  border-color: var(--dragonColorCode);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.divider::before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: var(--dragonColorCode);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/* Page */

.flex-row-container {  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 45px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .flex-row-container {
    flex-direction: column;
  }
}

.flex-row-container > .flex-row-item {
  flex: 40%;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 150px;
}

.flex-row-item {
  background-color: var(--dragonColorCode);
  border: 1px solid var(--goldColorCode);
  border-radius: 10px;
}

.flex-row-container > .flex-row-item-one {
  flex: 100%;
  background-color: var(--dragonColorCode);
  border: 1px solid var(--goldColorCode);
  border-radius: 10px;
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 50px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dragonColorCode); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dragonColorCode); 
}

/* Instructions Steps Icon */

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: var(--dragonColorCode) !important; 
}

/* Trap Ads */

.trap-ad {
  width: 150px;
  height: 100px;
  background-color: red;
  animation-name: trap-ad;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes trap-ad {
  0%   {background-color: red;}
  25%  {background-color: black;}
  50%  {background-color: red;}
  100% {background-color: black;}
}

/* HINTS */

.hints {
  background: transparent !important; 
  text-align: center !important; 
  font-size: 20px !important;
  font-weight: bold !important; 
  position: relative;  
}

.hints-probability {
  font-weight: bolder !important; 
  text-decoration: underline; 
}